
.forallinputs {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    width: 1020px;
    margin-top: 30px;
}

.titlewithinput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.project-image {
    color: #052651;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.input-width {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(196, 202, 224, 0.4);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.input-width2 {
    width: 100%;
    height: 168px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(196, 202, 224, 0.4);
    display: flex;
    flex-direction: column;
}

.inner-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
    font-family: Poppins;
    font-size: 16px;
    color: #052651;
}

.inner-textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 20px;
    font-family: Poppins;
    font-size: 16px;
    resize: none;
    color: #052651;
     box-sizing: border-box;
    
}

.rtl-input {
    direction: rtl;
    text-align: right;
}

.inner-input[type="file"] {
    line-height: 52px; /* Centers the "Choose File" text */
    padding-top: 10px;
}
.paddingdown{
    padding-bottom: 50px;
}

@media (max-width: 1400px) {
    .forallinputs { width: 95% }
}